/*To style revievhoodie, reviewtshirt, reviewmask to be side by side image and text*/

.wrapper { 
  overflow:hidden;
  border-radius: 2px;
  padding: 10px;
}

.wrapper div {
  min-height: 100px;
  padding: 10px;
}

img{
  width: 100%;
  max-width: 400px;
  height: auto;
}
#one {
  float:left; 
  margin-right:20px;
  width:200px;
}
#two { 
  overflow:hidden;
  margin:10px;
  min-height:40px;
}

.checked {
  color: orange;
}

/* Making page responsive */
@media screen and (max-width: 400px) {
  h3{
      text-align: center;
  }
  p{
    text-align: center;
  }

  #one { 
      float: none;
      margin-right:0;
      width:auto;
      border: 0; 
  }
}

@media screen and (max-width: 500px) {
  h3{
      text-align: center;
  }
  p{
    text-align: center;
  }

  #one { 
      float: none;
      margin-right:0;
      width:auto;
      border: 0; 
  }
}